#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid;
}

#key,
#end {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border: solid 2px brown;
  /* border-radius: 100px; */
  font-weight: bold;
  color: rgb(147, 224, 221);
}

#key {
  background-color: brown;
web
}
#end {
  border: solid 2px rgb(147, 224, 221);
}

